<form class="form-inline productBlockForm">

    <div class="form-group">
       <label class="sr-only" for="key">${lang.placeholder.productBlock}</label>
       <div class="controls">
           <input class="productBlockName form-control" id='productBlock${counter}' value="" type="text" name="name" placeholder="${lang.placeholder.productBlock}" />
           <input class="productBlockId" value="0" type="hidden" name="product_block_id" />
           <span class="help"></span>
       </div>
    </div>
    <div class="form-group">
        <button class="btn btn-default saveProductBlock">
            <span class="glyphicon glyphicon-ok" title="${lang.placeholder.saveRelationWithProductBlock}"></span>
        </button>
        <button type="button" class="btn btn-danger deleteProductBlock">
            <span class="glyphicon glyphicon-trash" title="${lang.placeholder.removeRelationWithProductBlock}"></span>
        </button>
    </div>

</form>