<div class="btn-group">

    {{each($i, $val) langs}}
        <a href="#seoes_lang_${$val.iso_code}" class="btn btn-default{{if $i == 0}} active{{/if}} tab">${$val.name}</a>
    {{/each}}

</div>

<div id="seo_lang_wrap" style="margin: 15px 0 0 0;">

    {{each($i, $val) langs}}

        <div id="seoes_lang_${$val.iso_code}" class="content_lang" {{if $i != 0}}style="display: none;"{{/if}}>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">${lang.seo.info}</h3>
                </div>
                <div class="panel-body">

                    <form class="set_seo form-horizontal">

                        <input type="text" name="id" style="display: none;" id="seo_id" value="{{if our_data}}${our_data.id}{{/if}}"/>

                        <input class="seo_lang_id" type="hidden" value="{{if our_data}}{{if our_data.lang && our_data.lang[$val.iso_code] }}${our_data.lang[$val.iso_code].id}{{/if}}{{/if}}" name="seo_lang_id"/>
                        <input type="hidden" value="${$val.id}" name="language_id"/>

                        <div class="form-group">
                            <label for="title" class="col-md-3 control-label">${lang.seo.title}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" value="{{if our_data}}{{if our_data.lang && our_data.lang[$val.iso_code] }}${our_data.lang[$val.iso_code].title}{{/if}}{{/if}}" name="title">
                                <span class="help help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="key_words" class="col-md-3 control-label">${lang.seo.key_words}</label>
                            <div class="col-md-8">
                                <textarea class="form-control" name="key_words">{{if our_data}}{{if our_data.lang && our_data.lang[$val.iso_code] }}${our_data.lang[$val.iso_code].key_words}{{/if}}{{/if}}</textarea>
                                <span class="help help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label">${lang.seo.description}</label>
                            <div class="col-md-8">
                                <textarea rows="6" class="form-control" name="description">{{if our_data}}{{if our_data.lang && our_data.lang[$val.iso_code] }}${our_data.lang[$val.iso_code].description}{{/if}}{{/if}}</textarea>
                                <span class="help help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <button class="btn btn-primary pull-right" type="submit">${lang.save}</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    {{/each}}

</div>
