<form class="setPlaceholder form-horizontal">

    <div class="form-group">
        <label for="menu_item_id" class="col-md-3 control-label">${lang.integrator.placeholder}:</label>
        <div class="col-md-8">
            <input class="form-control" id="placeholderInput" type="text" name="name" placeholder="${lang.integrator.placeholder}" value="">
            <input type="hidden" name="placeholder_id" value="" id="placeholder_id">
            <span class="help help-block"></span>
        </div>
    </div>

    <div class="form-actions">
        <div class='pull-right'>
            <button class="btn btn-primary" type="submit">${lang.save}</button>
            <div class="btn btn-default cancel" data-dismiss="modal">${lang.cancel}</div>
        </div>
    </div>

    <div class="clear"></div>

</form>