#header {
    width: 100%;
    height: 5%;
}
#rightColumn {
    width: 18%;
    height: 70%;
    margin-left: 1%;
    float: left;
    position: relative;
}
#autoWrap {
    width: 80%;
    height: 70%;
    float: left;
}
#autoModelWrap {
    width: 80%;
    float: left;
}
#advText {
    width: 18%;
    float: left;
    margin: 0.3% 0 0 1%;
}
#footer {
    width: 100%;
    height: 3%;
}
