<form class="set_conect_menu_item form-horizontal">

    <div class="form-group">
        <label for="menu_item_id" class="col-md-3 control-label">${lang.page.menu_item}:</label>
        <div class="col-md-8">
            <input class="form-control" id="menu_item" type="text" name="name" placeholder="${lang.page.type_menu_item}" value="">
            <input type="hidden" name="menu_item_id" value="" id="menu_item_id">
            <input type="hidden" name="component_id" value="${component_id}">
            <span class="help help-block"></span>
        </div>
    </div>

    <div class="form-actions">
        <div class='pull-right'>
            <button class="btn btn-primary" type="submit">${lang.save}</button>
            <div class="btn btn-default cancel" data-dismiss="modal">${lang.cancel}</div>
        </div>
    </div>

    <div class="clear"></div>

</form>