#pages_table_wrapper {
    margin-top: 15px;
}

#pages_table_wrapper input, #pages_table_wrapper select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

#pages_table {
    clear: both;
}

#pages_table_paginate a {
    margin-left: 10px;
}

.pagination {
    margin: 0;
}