<input type="hidden" name="behavior_id" class="behavior_id" value="{{if our_data}}${our_data.content.id}{{/if}}"/>
<div class="form-group">
    <label class="col-md-3 control-label" for="quantity">Количество символов:</label>
    <div class="col-md-8">
        <input class="form-control" id="component_name" type="text" name="quantity" value="{{if our_data}}${our_data.content.quantity}{{/if}}" />
        <span class="help help-block"></span>
    </div>
</div>