<div id="category_wrap">

    <div class="btn btn-primary" id="addMenuBlock"><i class="glyphicon glyphicon-plus"></i> ${lang.menu.add}</div>

    <div class="clear"></div>

    <table style="margin-top: 15px;" class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>${lang.name}</th>
                <th>${lang.menu.role}</th>
                <th>${lang.position}</th>
                <th style="text-align: right;">${lang.action}</th>
            </tr>
        </thead>
        <tbody id="menuBlockContent">

        </tbody>
    </table>

</div>