{{if our_data}}
    <ul class="sub_nav dropdown-menu {{if lvl>1}}menu_right{{/if}}">
        {{each($i, $value) our_data}}
            {{if $value.lang}}
                <li class="header_menu_item" data-menu_item_id="${$value.id}" data-lvl="{{if lvl}}${lvl}{{/if}}">
                    <a class="new_component" title="${$value.lang.value}" href="${site_url}admin/{{if $value.component_type}}${$value.component_type.id}/${$value.component_type.name}/${component.content_id}{{else}}0{{/if}}">${$value.lang.value}</a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
{{/if}}